.container{
  height: 600px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;

  text-align: center;
  background: khaki;
  border: 1px solid dimgrey;
  border-radius: 20px;
}
.output{
  margin-bottom: 2rem;
}
input{
  margin-top: 2rem;
  height: 50px;
  width: 400px;
  text-align: right;
}
button{
  height: 40px;
  margin: 20px;
  width: 100px;
}